html {
    min-height: 100%;
    position: relative;
}


.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 4px;
    background-color: rgb(221, 220, 220);
    letter-spacing: 2px;
    font-size: 12px;
    text-align: center;
    transition: all 300ms;
    font-family: sans-serif;
    align-self: flex-end;
    height: 40px;
}
.footer p{
    margin-top: 10px;
}

.footer:hover{
    color: gray;
    cursor: pointer;
}